<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo1.dao.CarDao">
    <resultMap id="BaseResultMap" type="com.example.demo1.model.Car">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,code, name, price
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="INTEGER">
        select
        <include refid="Base_Column_List"/>
        from product
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.example.demo1.model.Car">
      INSERT INTO product (code, name, price) VALUES (#{code,jdbcType = VARCHAR},#{name,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE})
    </insert>

    <update id="update1" parameterType="com.example.demo1.model.Car" >
        update product
        <set >
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete1" parameterType="INTEGER">
        DELETE FROM product WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM product
    </select>

</mapper>